@import "@/styles/main.scss";

.project-container {
  display: flex;
  width: 83.19%;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.project-title {
  display: flex;
  height: 48px;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  width: 100%;

  & a{
    white-space: nowrap;
    color: $gray100;
  }
}
.project-title a:hover{
  color: $white;
}
.projects{
  display: flex;
  padding: 1px;
  flex-wrap: wrap;
  width: 86.89%;
  gap: 30px;
  justify-content: center;
}
@media (max-width: 850px) {
  .project-container {
    width: 91.93%;
  }
  .projects{
    width: 100%;
    justify-content: center;
  }
}
@media (max-width: 430px) {
  .project-container {
    width: 86.04%;
  }
  .project-title a{
    font-size: 12px;
  }
}