.navContainer {
  @include flex-center;
  padding: 5px 0;
  position: absolute;
  top: 32px;
  border-radius: 80px;
  border: 1px solid $gs-100;
  background: transparent;
  box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.04);
  backdrop-filter: blur(10px);
}

.menuContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.link {
  display: flex;
  height: 46px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  @include font-style;
  font-size: $fs-lg;
  color: $gs-200;
  font-weight: $fw-regular;
  line-height: $lh-text;
  letter-spacing: $ls-text;
  border-radius: 48px;
  &.selected {
    background-color: $gs-100;
    color: $gs-600;
    border: 1px solid $gs-100;
  }
  &:hover {
   border: 1px solid $gs-100;
  }
}


.menu {
  display: none;
  cursor: pointer;
}

@media (max-width: 835px) {
  .navContainer {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    border-radius: 29px;
    padding: 17px;
  }
  .menu {
    display: flex;
  }
  .menuContent {
    flex-direction: column;

    .link {
      display: none;
    }
  }

  .menuContent.opened {
    display: flex;
    width: 100%;

    .link {
      display: flex;
    }
  }
}
