.navContainer {
  @include flex-center;
  max-width: 773px;
  position: fixed;
  top: 32px;
  padding: 5px 0;
  z-index: 2;
  border-radius: 80px;
  border: 1px solid $gs-100;
  background: transparent;
  box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.04);
  backdrop-filter: blur(10px);
}

.menuContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.link {
  @include flex-center-ani;
  @include fs-link-lg;

  width: unset;
  padding: 9px 16px;
  gap: 4px;
  border-radius: 48px;
  opacity: 1;
  &.selected {
    background-color: $gs-100;
    color: $gs-600;
  }
  &:hover {
    box-shadow: inset 0 0 0 1px $gs-100;
  }
}

.menu {
  display: none;
  cursor: pointer;
}

@include respond(tablet) {
  .navContainer {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    border-radius: 29px;
    padding: 16px;
    max-width: 89.46%;
  }
  .menu {
    display: flex;
  }
  .menuContent {
    flex-direction: column;
    width: 100%;
    max-height: 0;
    overflow: hidden; 
    transition: max-height .2s ease-in;

    .link {
      opacity: 0;
      transform: translateY(-60px);
      transition: opacity .2s, transform .2s;
      transition-timing-function: cubic-bezier(.25, .1, .25, 1);
    }
  }
  .menuContent.opened {
    max-height: 500px; 
    transition: max-height .2s;
    transition-timing-function: cubic-bezier(.25, .1, .25, 1);


    .link {
      opacity: 1;
      transform: translateY(0);
    }
  }
}