@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

$background-gradient: linear-gradient(153deg, #1A1F30 0%, #181D2D 19.28%, #13192C 42.39%, #101420 67.34%, #181D2D 85.17%, #1A1F30 100%);
$insta-gradient: linear-gradient(221deg, #B24DB9 0%, #B24DB9 15.65%, #D42F7F 36.99%, #F7772E 76.15%, #FEF780 95.05%, #FEF780 100%);
$linkedin-color: #0072B1;
$github-color: #010409;
$black: #1A1F30;
$gray200: #353945;
$gray100: #AEB8C1;
$white: #FFFFFF;
$pink: #BA7595;
$blue: #2992EC;
$yellow: #F9C56D;
$cyan: #50B4BE;

$primary-font: 'Jetbrains Mono', monospace;
$title-font: 36px;
$title2-font: 32px;
$subtitle-font: 24px;
$text-font: 16px;