@use "./variables" as *;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
@mixin flex-center-ani {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  transition: all .2s ease-in;
}
@mixin fs-link-lg {
  @include font-style;
  font-size: $fs-lg;
  color: $gs-200;
  font-weight: $fw-regular;
  line-height: $lh-text;
  letter-spacing: $ls-text;
}

@mixin respond($breakpoint) {
  @if $breakpoint == "mobile" {
    @media (max-width: 576px) {
      @content;
    }
  } @else if $breakpoint == "tablet" {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $breakpoint == "tablet-lg" {
    @media (max-width: 1024px) {
      @content;
    }
  } @else if $breakpoint == "laptop" {
    @media (max-width: 1440px) {
      @content;
    }
  } @else if $breakpoint == "desktop" {
    @media (max-width: 1920px) {
      @content;
    }
  }
}
@mixin font-style {
  color: $gs-100;
  font-feature-settings: "liga" off, "clig" off;
  font-family: $ff-poppins, sans-serif;
  font-style: normal;
}
