@import "@/styles/main";

.quote-container {
  display: flex;
  padding: 60px 0;
  flex-direction: column;
  align-items: flex-end;
}

.quote-text {
  display: flex;
  flex-direction: column;
  padding: 8px;
  justify-content: center;
  border: 1px solid var(--gray-200, #AEB8C1);
  width: 468px;
}

.quote-author {
  border: 1px solid var(--gray-200, #AEB8C1);
  border-top: none;
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
}

.quote-container p {
  color: $gray100;
  text-wrap: unset;
}

@media (max-width: 650px) {
  .quote-container {
    padding: 116px 0;
    width: 86.04%;
  }
  .quote-text {
    width: 100%;
  }
}