@import "@/styles/main";

.quote-container {
  display: flex;
  padding: 60px 0;
  flex-direction: column;
  align-items: flex-end;
  width: 32%;
}
.quote-text {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--gray-200, #AEB8C1);
}
.quote-author {
  border: 1px solid var(--gray-200, #AEB8C1);
  border-top: none;
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
}
.quote-container p {
  color: $gray100;
}