.cardContainer {
    @include flex-center-ani;
    flex-direction: column;
    gap: 24px;
    max-width: 620px;
    img {
        width: 100%;
        object-fit: cover;
    }
}
.cardInfo {
    @include flex-center;
    justify-content: space-between;
    padding: 11px 0;
}
.cardTitleWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}
.skillsWrapper {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    max-width: 250px;
    gap: 24px;
    svg {
        width: 30px;
        height: 30px;
    }
}