.textWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 11px;
  width: 100%;

  a {
    font-size: $fs-lg;
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

.titleWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.skillsWrapper {
  @include flex-center-ani;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
  flex-wrap: wrap;
}
