@use "../../styles/utils" as *;

.secTextWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;

  a {
    font-size: $fs-lg;
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 8px;
  }
}

.secTitleWrapper {
  display: flex;
  flex-direction: column;
  gap: 11px;
  max-width: 80%;
}

@include respond("tablet") {
  .secTextWrapper {
    flex-direction: column;
    gap: 30px;
  }
  .secTitleWrapper {
    max-width: unset;
  }
}