.cardContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  width: 272px;
  height: 272px;
  padding: 60px 40px;

  border-radius: 50px;
  background: $default-bg;
}
.cardText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  svg {
    width: 77px !important;
    height: 77px !important;
    fill: $gs-100;
    path,
    circle {
      fill: $gs-100;
    }
  }
}
.cardContainer.insta {
  background: $insta-bg;
}
.cardContainer.linkedin {
  background: $linkedin-bg;
}
@include respond(tablet) {
  .cardContainer {
    width: 100%;
  }
}