@import "@/styles/main";

.header-container {
  display: flex;
  flex-direction: row;
  width: 87.43%;
  justify-content: space-between;
  height: 61px;
  align-items: center;
}

.menu-icon {
  display: none;
}

nav {
  display: flex;
  flex-direction: row;
  padding: 0 15px;
  align-items: center;
  gap: 15px;

}

nav a {
  color: $gray100;

  &:hover {
    color: $white;

  }

  &:active {
    color: $pink;
  }
}

.pipe {
  color: $gray100;
  animation: Pipe 1s steps(1, start) infinite;
}

@media (max-width: 850px) {
  .header-container {
    justify-content: space-between;
    width: 91.93%;
    /* mostra só o ícone/botão */
    .menu-icon,
    .menu-button {
      display: block;
    }
  }


  nav {

    display: none;
    position: fixed;
    top: 60px;
    right: 20px;
    background-color: $black;
    flex-direction: column;
    padding: 15px 30px;
    gap: 15px;
    align-items: flex-start;
    z-index: 50;
    border: 1px solid $gray100;

    &.open {
      display: flex; // mostra quando tiver a classe
    }

    a {
      margin: 0.5rem 0;
    }
  }
}


@keyframes Pipe {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}