@use "../../styles/utils" as *;

.cardContainer {
  @include flex-center-ani;
  position: relative;
  padding: 80px 40px;
  flex-direction: column;
  gap: 20px;
  color: $gs-200;
  border-radius: 25px;
  z-index: 1;
  a {
    opacity: 0;
    transform: translateY(-20px);
    position: absolute;
    padding: 20px 16px;
    background: rgba(36, 36, 36, 0.2);
    box-shadow: unset;

    svg {
      width: 13px !important;
      height: 15px !important;
      flex-shrink: 0;
    }
  }

  .cardText {
    @include flex-center-ani;
    flex-direction: column;
    gap: 20px;
  }

  &:hover {
    box-shadow: 0 8px 10px 0 rgba(209, 209, 209, 0.25);

    .cardText {
      transform: translateY(-30px);
    }

    svg {
      filter: drop-shadow(2px 4px 6px rgba(39, 39, 39, 0.759));
    }

    a {
      opacity: 1;
      transform: translateY(70px);
      max-height: 24px;

      &:hover {
        box-shadow:
          -2px -4px 5.3px 0 rgba(186, 186, 186, 0.14) inset,
          19px 22px 37.2px 0 rgba(0, 0, 0, 0.3),
          53px 73px 64.7px 0 rgba(0, 0, 0, 0.3);
      }
    }
  }

  p {
    @include font-style;
    font-size: $fs-2xl;
  }

  svg {
    width: 77px !important;
    height: 77px !important;
    fill: $gs-100;
    transition: all 0.2s;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);

    path,
    circle {
      fill: $gs-100;
    }
  }
}

.about {
  width: 200px;
  height: 200px;

  &:hover {
    .cardText {
      transform: translateY(-15px);
    }
  }
  .cardText {
    flex-direction: column;
    gap: 8px;
    svg {
      height: 50px !important;
      width: unset !important;
      fill: revert-layer;
      path,
      circle {
        fill: revert-layer;
      }
    }
    p {
      font-size: $fs-sm;
      font-weight: $fw-regular;
    }
  }
  a {
    font-size: $fs-tn;
  }
}
.about::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 25px;
  opacity: 0;
  transition: all 0.2s;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  z-index: -1;
}
.about:hover::before {
  background: $default-bg;
  opacity: 1;
}
.about.spring::before,
.home.spring {
  background: $spring-bg;
}
.about.figma::before,
.home.figma {
  background: $figma-bg;
}
.about.reactnavigation::before,
.home.reactnavigation {
  background: $bootstrap-bg;
}
.about.bootstrap::before,
.home.bootstrap {
  background: $bootstrap-bg;
}
.about.typescript::before,
.home.typescript {
  background: $linkedin-bg;
}
.about.react::before,
.home.react {
  background: $react-bg;
}
.about.git::before,
.home.git {
  background: $git-bg;
}
.about.reactnative::before,
.home.reactnative {
  background: $rn-bg;
}
.about.java::before,
.home.java {
  background: $git-bg;
}
.about.html::before,
.home.html {
  background: $git-bg;
}
.about.css::before,
.home.css {
  background: $linkedin-bg;
}
.about.javascript::before,
.home.javascript {
  background: linear-gradient(
    160deg,
    $sc-alert-100 8.38%,
    $sc-alert-200 49.15%,
    $sc-alert-300 89.26%
  );
}
.about.scss::before,
.home.scss {
  background: $scss-bg;
}
.about.tailwindcss::before,
.home.tailwindcss {
  background: $react-bg;
}
.about.turborepo::before {
  background: $turborepo-bg;
}
.about.styled-components::before,
.home.styled-components {
  background: $scss-bg;
}
.about.nextjs::before,
.home.nextjs {
  background: $default-bg;
}
.about.postman::before,
.home.postman {
  background: $git-bg;
}
.about.github,
.about.vercel {
  .cardText {
    svg {
      path,
      g,
      circle {
        fill: $gs-100;
      }
    }
  }
}
.about.biome::before,
.home.biome {
  background: $react-bg;
}
.about.nodejs::before,
.home.nodejs {
  background: $spring-bg;
}
.about.maven::before,
.home.maven {
  background: $insta-bg;
}
.about.module-federation::before,
.home.module-federation {
  background: $linkedin-bg;
}
.about.vite::before,
.home.vite {
  background: $figma-bg;
}
.about.angular::before,
.home.angular {
  background: $insta-bg;
}
.about.mysql::before,
.home.mysql {
  background: $react-bg;
}

/* Somente opacity muda */
.about:hover::before {
  opacity: 1;
}

@include respond(tablet) {
  .cardContainer {
    padding: 40px 20px;
  }
  .about {
    padding: 12px 20px;
  }
}
@include respond(mobile) {
  .cardContainer {
    border-radius: 30px;
  }
  .about {
    border-radius: 25px;
  }
}
