@use "../utils/variables" as *;
@use "../utils/mixins" as *;
@use "./reset";

html,
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: $gs-100;
  background-color: $gs-600;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

a {
  color: $gs-100;
  @include font-style;

  &:hover {
    color: darken($gs-100, 10%);
  }
}

h1 {
  @include fs-title;
}

h2 {
  @include fs-title;
  font-size: $fs-5xl;
}

h3 {
  @include fs-title-3xl;
}

p {
  @include fs-df-text;
}
@include respond(laptop) {
  h1 {
    font-size: $fs-6xl;
  }
}

@include respond(tablet) {
  h1 {
    font-size: $fs-5xl;
  }
}

@include respond(mobile) {
  h1 {
    font-size: $fs-4xl;
  }
  h2 {
    font-size: $fs-3xl;
  }
}
